<div class="container mt-4" style="border-color: red">
    <div class="card">
        <h1>Student Registration</h1>
        <form>
            <div class="form-group">
              <label for="studentName">Student Name</label>
              <input type="text" [(ngModel)]="studentName" class="form-control" id="studentName"  name="studentName" placeholder="Enter Name">
            </div>
              <div class="form-group">
                <label for="studentAddress">Student Address</label>
                <input type="text" [(ngModel)]="studentAddress" class="form-control" id="studentAddress"  name="studentAddress" placeholder="Enter Address">
              </div>
              <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text"[(ngModel)]="mobile" class="form-control" id="mobile"  name="mobile" placeholder="Mobile number">
              </div>
            <button type="submit" class="btn btn-primary mt-4" (click)="save()">Submit</button>
          </form>
        
    </div>

    <div>
 
        <div class="container mt-4" >
     
            <h1>Student Table</h1>
        <table class="table">
            <thead>     
            <tr>
    
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Option</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let studentItem of studentArray">
               
                <td>{{studentItem.studentName | uppercase}}</td>
                <td>{{studentItem.studentAddress }}</td>
                <td>{{studentItem.mobile}}</td>
     
                <td>
                    <button type="button" class="btn btn-success" (click)="setUpdate(studentItem)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="setDelete(studentItem)">Delete</button>
                </td>
              </tr>
              
            </tbody>
          </table>
     
     
        </div>
</div>
